<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Select a Random Number</h1>
     <!-- are we able to pass any other data types? -->
     <!-- @{/rand/results} -->
    <form action="#" 
        th:action="@{/rand/results}" 
        th:object="${generatedObj}" 
        method="post">
        <div>
            <!-- *{numValue} same as ${generatedObj.numValue} -->
            <input type="text" th:field="*{numValue}">
            <button>Generate</button>
        </div>
    </form>
</body>
</html>